.login-view {
    background-color: var(--lumo-contrast-5pct);
}

.login-layout{
    border: solid 1px var(--lumo-primary-color-10pct);
    box-shadow: 0 3px 6px var(--lumo-primary-color-10pct);
    border-radius: 9px;
    padding: 30px;
    background-color: white;
}

